@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 0ch 1ch;
    color: rgb(255, 255, 255);
}
.navbar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: flex;
    font-size: 15px;
    margin: 0 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.navbar ul li a {
    text-decoration: none;
    color: rgb(159, 105, 251);
}
.navbar ul li a:hover{
    color: rgb(132, 74, 231);


}
#mypfp {
    width: 70px;
}
#inspire {
    width: 364px;
    height: 242px;
}
.about-content p{
    text-align: justify;
}

.about-content p a{
    text-decoration: none;
    color: rgb(159, 105, 251);
}
.about-content p a:hover{
    text-decoration: none;
    color: rgb(132, 74, 231);
}

.about-section {
    padding: 5vh 45vh 0 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.social-media-links {
    display: flex;
    justify-content: center;
}

.social-media-links a {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: inline-block;
    color: rgb(159, 105, 251);
    margin: 5px; 
    text-decoration: none;
}

.social-media-links a:hover {
    color: rgb(132, 74, 231);

 }
.mywork-section {
    padding: 10vh 45vh 0 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.mywork-content a {

    text-decoration: none;
    color: rgb(159, 105, 251);
}
.mywork-content a:hover {
    color: rgb(132, 74, 231);


 }

.favlinks-section{
    padding: 5vh 45vh 0 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.favlinks-content a{
    text-decoration: none;
    color: rgb(159, 105, 251);
}
.favlinks-content a:hover{
    color: rgb(132, 74, 231);


}
.posts-section{
    padding: 15vh 45vh 0 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

#books {
    width: 450px;
    height: 130px;
}
@media only screen and (max-width: 600px) {
    .about-section{
        padding: 0vh 5vh 0vh 5vh ;
    }
    .about-content p{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16.5px; 
        text-align:left;
    }
    .social-media-links a{
        font-size: 16.5px
    }
    .navbar {
        width: 100%; /* Make the navbar full width */
        justify-content: center; 
        margin: 30px 0;/* Center the navbar */
    }
    .navbar ul li {
        font-size:14px;
    }
    .mywork-section{
        padding: 10vh 0vh 0vh 0vh;
     
    }
    .mywork-content{
        font-size: 16.5px;
    }
    .favlinks-section{
        padding: 0vh 0vh 0vh 0vh;

    }
    .favlinks-content{
        font-size: 16.5px;
    }
    .posts-section{
        padding: 16vh 0vh 0vh 0vh;
        font-size: 16.5px;
    }

    #inspire{
        width: 300px;
        height: 180px;
    }
    #books{
        width: 300px;
        height: 110px;
    }

}
 


 
